<!DOCTYPE html>
<html>
<head>
	<title>Quotes Redux</title>
</head>
<body>
<div>
	<h1>Welcome to QuotingDojo</h1>
	<form action='/quotes' method='post'>
		<label for="name">Your name:</label>
		<input id="name" type="text" name="name"></input>
		<label for="quote">Your quote:</label>
		<input id="quote" type="text" name="quote"></input>
		<input type="submit" value="Add my quote!"></input>
	</form>
	<form action="/quotes">
		<input type="submit" value="Skip to quotes!"></input>
	</form>
</div>
</body>
</html>